@charset "utf-8";
/* CSS Document */
* {
 box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
}
body{
		font-family:Aria;
		font-size:15px;
		margin:0px;
		padding:0px;
		line-height:1,26em;
	}
a{
		text-decoration:none;
		color:#3C0;
	}
#container{
		padding-left:150px;
		position:relative;
		left:0;
		width:50%;
	}
#menu{
		position:fixed;
		height:100%;
		background:#191818;
		width:150px;
		left:0;
	}
#menu ul{
		list-style:none;
		padding:0px;
		margin:0px;
	}
#menu ul li{
		line-height:2.9em;
		height:2.9em;
	}
#menu ul li a{
		display:block;
		padding:0 1em;
		color:#FFF;
		border-bottom:1px solid #FF0;
	}
#logo img{
			margin:0 50%;
			pad
	}